sudo: required

services:
  - docker

before_install:
  #we are building image from dockerfile.dev because to run test
  #look into ./client for build context
  - docker build -t aj14314/react-test -f ./client/Dockerfile.dev ./client
script:
  - docker run -e CI=true aj14314/react-test npm run test -- --coverage

after_success:
  - docker build -t aj14314/multi-client ./client
  - docker build -t aj14314/multi-nginx ./nginx
  - docker build -t aj14314/multi-server ./server
  - docker build -t aj14314/multi-worker ./worker
  # Login into the docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # take those images and push them to docker hub
  - docker push aj14314/multi-client
  - docker push aj14314/multi-nginx
  - docker push aj14314/multi-server
  - docker push aj14314/multi-worker
  
deploy:
  provider: elasticbeanstalk,
  region: "us-east-1",
  app: "multi-docker",
  env: "Multidocker-env",
  bucket_name: "elasticbeanstalk-us-east-1-801528572440",
  bucket_path: "multi-docker"
  on:
    branch: master
  access_key_id: "$ACCESS_ID"
  secret_access_key: "$SECRET_ID"
